<main>
    <section class="account_form_sec">
      <div class="acc_frm_container container flex_row">
        <!-- left form -->
        <div class="inner_content card flex_column">
          <h3>Sign In</h3>

          <form class="form_container flex_column" action="">
            <input type="email" id="email" name="name" placeholder="Your email *">
            <input type="password" id="passw" name="name" placeholder="Your password *">
            <span>Forget you password?</span>
            <div class="chkbox_text flex_row">
              <input type="checkbox" id="checkbox">
              <p>Remember me</p>
            </div>
            <button class="global_btn btn_blue">Sign In</button>
          </form>
        </div>
        <!-- right form -->
        <div class="inner_content card flex_column">
          <h3>Create your account</h3>

          <form class="form_container flex_column" action="">
            <input type="email" id="email" name="name" placeholder="Your email *">
            <input type="password" id="passw" name="name" placeholder="Your password *">
            <p>Your personal data will be used to support your experience throughout this website, to manage
              access to your account, and for other purposes described in our <a href=""> privacy
                policy.</a>
            </p>
            <button class="global_btn btn_blue">Register</button>
          </form>
        </div>

      </div>

    </section>
  </main>