<section class="Homepage_section_1">
    <div class="container Homepage_container_1 flex_row">
      <div class="inner_column hero_left_inner_section flex_column">
        <h1>Dynamic WordPress Solutions for Ambitious Enterprises</h1>
        <p>
          From seamless updates to robust security measures, we've got your
          site covered, so you can focus on what you do best – growing your
          business.
        </p>
        <div class="inner_column_btn-container flex_row">
          <a href="/services.html"><button class="btn_yellow global_btn">
              Explore Our Services
            </button></a>
          <img src="assets/images/HomePage/Arrow 1.svg" alt="">
        </div>
        <div class="inner_column_image_container flex_row">
          <div class="inner_image_section flex_row">
            <img src="assets/images/HomePage/top domain 1.svg" alt="">
            <img src="assets/images/HomePage/marketwatch.svg" alt="">
            <img src="assets/images/HomePage/Product Hunt 1.svg" alt="">
            <img src="assets/images/HomePage/marketwatch.svg" alt="">
          </div>
          <div class="text_container">
            <span>As low as</span><br><span> <strong>$99</strong>/month</span>

          </div>
        </div>
      </div>
      <div class="inner_column_img_container">
        <img src="assets/images/HomePage/Home_hero_section.png" alt="" srcset="">

      </div>
  </div>
</section>
