<main>
    <!-------- START contact page section-1  (FROM Services page section-5)  -------->
    <section class="contact_pge_sec_1 homepage_section_7 services_contactus_sec_5">

        <!-- START INNER CONTENT SECTION-5 -->
        <div class="inner_bottom_container container flex_row">
            <div class="inner_left_container flex_column">
                <div class="inner_heading_container flex_column">
                    <!-- <h4>Contact Us</h4> -->
                    <h1>Do You <span>Need</span> a Helping Hand?</h1>
                </div>
                <p>We are passionate about all things website related and always reading about the latest
                    industry updates and news to ensure the success of our clients. Learn more about our quick
                    and easy process for our WordPress maintenance and support services.
                </p>

                <div class="arrow_svg_contanr flex_row">

                  <img src="assets/images/blue_long-arrow.svg" alt="">    
                </div>
            </div>
            <div class="inner_right_container card flex_column">
                <h3>Get In Touch</h3>
                <!-- Input (inquiry) form  -->
                <form class="form_container flex_column" action="">
                    <input type="text" id="name" name="name" placeholder="Your name *">
                    <input type="email" id="email" name="name" placeholder="Your email *">
                    <input type="text" id="website" name="name" placeholder="Your website *">
                    <textarea name="" id="message" cols="30" rows="10" placeholder="Your message *"></textarea>
                    <div class="chkbox_text flex_row">
                        <input type="checkbox" id="checkbox">
                        <p>I consent to have this website store my submitted information so they can respond to my inquiry.</p>
                    </div>
                    <button class="global_btn btn_blue">Submit</button>
                </form>
            </div>
        </div>
        <!-- END INNER BOTTOM CONTENT SECTION-5 -->
</section>
<!-------- END contact page section-1  (FROM Services page section-5)  -------->
</main>
