<footer>
    <div class="column container">
      <div class="sub_container card">
        <div class="inner_col">
          <h3>Hire the Experts at WP Vantage</h3>
          <h2>Partner with the <span>All-in-One WordPress</span><br> Support Company</h2>
          <p>
            For nearly a decade our team of design, development and marketing
            experts has enabled our clients to reach their highest level of
            online success. Our experts become an extension of your team, and
            care about your business goals as much as if they were our own.
          </p>
          <div class="buttons">
            <a href="/services.html"> <button class="btn_blue global_btn">Get Started</button></a>
            <a href="/contact.html"><button class="btn_yellow global_btn">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M4.26353 11.5649L6.7957 8.53145C7.05236 8.20145 7.1807 8.03645 7.24795 7.8514C7.30745 7.68766 7.33208 7.51328 7.32023 7.33946C7.30684 7.14302 7.22921 6.94894 7.07395 6.56078L6.4817 5.08017C6.25193 4.50574 6.13704 4.21852 5.93886 4.03027C5.76422 3.86438 5.54537 3.75248 5.30864 3.70803C5.03999 3.65759 4.73988 3.73261 4.13968 3.88266L2.50023 4.29258C2.50023 12.6259 8.33331 18.4592 16.6669 18.4592L17.0766 16.8196C17.2266 16.2194 17.3017 15.9193 17.2512 15.6506C17.2068 15.4139 17.0949 15.195 16.929 15.0204C16.7407 14.8222 16.4535 14.7073 15.8791 14.4775L14.5578 13.949C14.115 13.7719 13.8936 13.6833 13.6728 13.6766C13.4777 13.6706 13.2839 13.7103 13.1069 13.7927C12.9067 13.8859 12.7381 14.0545 12.4008 14.3918L9.82885 16.9233"
                    stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Book a Call
              </button></a>
          </div>
        </div>
      </div>

    </div>
    <div class="column">
      <div class="inner_col container">
        <div class="inner_col_1">
          <label for="">
            <img src="assets/images/logo-yellow.svg" alt="">
          </label>
          <h3>
            Make Your Life Easier! Have Our <span>WordPress</span> Experts Fully Manage,
            Protect and Enhance Your Website.
          </h3>
        </div>
        <div class="inner_col_1">
          <label for="">Services</label>
          <ul>
            <li><a [routerLink]="['/page/services/wordpress-maintenance']">WordPress Maintenance</a></li>
            <li><a [routerLink]="['/page/services/woocommerce-maintenance']">WooCommerce Maintenance</a></li>
            <li><a [routerLink]="['/page/services/wordpress-malware-removal']">WordPress Malware Removal Services</a></li>
            <li><a [routerLink]="['/page/services/wordPress-security-services']">WordPress Security Services</a></li>
            <li><a [routerLink]="['/page/services/wordpress-emergency-services']">WordPress Emergency Services</a></li>
            <li><a [routerLink]="['/page/services/wordpress-retainer']">WordPress Retainer</a></li>
            <li><a [routerLink]="['/page/services/wordPress-speed-optimization']">WordPress Speed Optimization Services</a></li>
            <li><a [routerLink]="['/page/services', 'wordpress-migration-services']">WordPress Migration Services</a></li>
          </ul>
        </div>
        <div class="inner_col_1">
          <label for="">Blog</label>
          <ul>
            <li><a href="">For Web Designers</a></li>
            <li><a href="">For Web Developers</a></li>
            <li><a href="">For Webmasters</a></li>
            <li><a href="">Infographics</a></li>
            <li><a href="">Web Design</a></li>
            <li><a href="">Web Security</a></li>
            <li><a href="">WooCommerce</a></li>
          </ul>
        </div>
        <div class="inner_col_1">
          <label for="">My Account</label>
          <ul>
            <li><a href="/my_account.html">My Account</a></li>
            <li><a href="">Orders</a></li>
            <li><a href="">Subscriptions</a></li>
            <li><a href="">Submit Ticket</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms and Services</a></li>
          </ul>
        </div>
      </div>
      <div class="social_icons container">
        <a href="">
          <img src="assets/images/wifi-good.svg" alt="">
        </a>
        <a href="">
          <img src="assets/images/pinterest-fill.svg" alt="">

        </a>
        <a href="">
          <img src="assets/images/fb.svg" alt="">
        </a>
        <a href="">
          <img src="assets/images/linkedin.svg" alt="">
        </a>
        <a href="">
          <img src="assets/images/x-twitter.svg" alt="">
        </a>

      </div>
      <div class="divider container">
        <hr>
      </div>
      <div class="copyright_sec container">
        <div class="column">
          <p>© 2023 WP Vantage - WordPress Maintenance & Security Services<br> All Right Reserved</p>
        </div>
        <div class="column">
          <ul>
            <li><a href="">My Account</a></li>
            <li><a href="">Terms of services</a></li>
            <li><a href="">Privacy & Policy</a></li>
            <li><a href="">Site Map</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>