<main>
    <!-- -----------------------------------------------blog_page_section01_starts------------------------------------------- -->
    <section class="blog_page_section_01 positon_relative  flex_column">
      <div class="blog_page_title_container">
        <div class="container flex_column center_all">
          <h1>"Empower Your Online Presence: Unlock the Full Potential of WordPress with Our Expert Services!"
          </h1>
          <p>Take a look at our articles about WordPress to comprehend both the basics and niche elements of
            our
            favourite content management system.</p>
          <div class="flex_row blog_subscribe_container">
            <input type="text" placeholder="Your Email">
            <button class="global_btn">Subscribe</button>
          </div>
        </div>
      </div>

      <div class="container category_container flex_row">
        <button class="global_btn">All</button>
        <button class="global_btn">For Web Designer</button>
        <button class="global_btn">For Web Developer</button>
        <button class="global_btn">For Web Master's</button>
        <button class="global_btn">Infographics</button>
        <button class="global_btn">Web Designer</button>
        <button class="global_btn"> Web Security</button>
        <button class="global_btn">WooCommerce</button>
      </div>
    </section>
    <!-- -----------------------------------------------blog_page_section01_ends------------------------------------------- -->
    <!-- -----------------------------------------------blog_page_section02_starts------------------------------------------- -->
    <section class="blog_page_section_02_blog_cards">

      <div class="container  positon_relative">
        <svg width="98" height="96" viewBox="0 0 98 96" fill="none" class="position_absolute starts_blog"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M49 0L49.8286 22.1973C50.3356 35.7776 61.3109 46.6686 74.9895 47.165L98 48L74.9895 48.835C61.3109 49.3314 50.3356 60.2224 49.8286 73.8027L49 96L48.1714 73.8027C47.6644 60.2224 36.6891 49.3314 23.0105 48.835L0 48L23.0105 47.165C36.6891 46.6686 47.6644 35.7776 48.1714 22.1973L49 0Z"
            fill="#1D5AFF" />
        </svg>
        <div class="blog_card_container grid_row">

          <!-- blog card -1 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>
          <!-- blog card -2 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>
          <!-- blog card -3 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>
          <!-- blog card -4 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>

          <!-- blog card -5 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>
          <!-- blog card -6 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>
          <!-- blog card -7 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>
          <!-- blog card -8 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>

          <!-- blog card -9 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>
          <!-- blog card -10 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>
          <!-- blog card -11 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>
          <!-- blog card -12 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>

          <!-- blog card -13 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>
          <!-- blog card -14 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>
          <!-- blog card -15 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>
          <!-- blog card -16 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>

          <!-- blog card -17 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>
          <!-- blog card -18 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>
          <!-- blog card -19 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>
          <!-- blog card -20 -->
          <div class="blue_border blog_card_1 card flex_column">

            <img src="assets/images/HomePage/blog.png" alt="">

            <div class="bottom_col flex_column">
              <div class="wp_box">
                <span>WordPress</span>
              </div>
              <h4>Different Types of WordPress Hacks and Their Symptoms</h4>
              <p>Take a look at our articles about WordPress nt management system.</p>
              <!-- Author row content -->
              <div class="author_row flex_row">
                <div class="left_content flex_row">
                  <img src="assets/images/HomePage/author_img.png" alt="">
                  <div class="author_nam flex_column">
                    <h5>Author name</h5>
                    <p>2 hours ago</p>
                  </div>
                </div>
                <a href="" class="read_post flex_row">
                  <h5>Read Post</h5>
                  <!-- right arrow -->
                  <img class="w_auto" src="assets/images/HomePage/small-blu-arrow.svg" alt="">

                </a>
              </div>

            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- -----------------------------------------------blog_page_section02_endss------------------------------------------- -->
  </main>