
<main>
    <section class="cart_section">
      <div class="cart_container container flex_column ">
        <h1>Cart</h1>
        
        <div class="cart_table_container cart_sub_container">
          <table>

            <thead>
              <tr class="th_heading">
                <th>Your Orders</th>
                <th>Price</th>
                <th>Total</th>
              </tr>
            </thead>

            <tbody>
              <!-- 1st row -->
              <tr>
                <td><img class="w_auto" src="assets/images/charm_cross.svg" alt="">  <h5>WordPress Maintenance - Perform
                  ( Monthly ) x 1</h5>
                </td>

                <td>$ 199<br>
                  <span>/ month</span>
                </td>

                <td>$ 199</td>
              </tr>

              <!-- 2n row -->
              <tr>
                <td> <img class="w_auto" src="assets/images/charm_cross.svg" alt=""> 
                  <h5>WordPress Maintenance - Perform
                    ( Monthly ) x 1</h5>
                </td>

                <td>$ 199<br>
                  <span>/ month</span>
                </td>

                <td>$ 199</td>
              </tr>

              <!-- 3rd row -->
              <tr>
                <td> <img class="w_auto" src="assets/images/charm_cross.svg" alt=""> <h5>WordPress Maintenance - Perform
                  ( Monthly ) x 1</h5>
                </td>

                <td>$ 199<br>
                  <span>/ month</span>
                </td>

                <td>$ 199</td>
              </tr>
            </tbody>

          </table>
          <!-- lower btn container -->
          <div class="btns_container flex_row">
            <!-- left coupon and coupon btn container -->
            <div class="left_coupon_btn_wrap flex_row">
              <form action="">
                <input type="text" placeholder="Coupon Code">
              </form>

              <a class="btn_blue global_btn">Apply coupon</a>
            </div>

            <!-- right update cart btn -->
            <div class="ryt_wrap_btn">
              <a class="btn_blue global_btn">Update Cart</a>
            </div>

          </div>

        </div>

        <div class="outer_container flex_column">
          <div class="inner_cart_total flex_column">
            <h5>Cart totals</h5>
            <div class="price_total flex_row">
              <h6>Subtotal</h6>
              <span>$ 199</span>
            </div>

            <div class="price_total flex_row">
              <h6>Total</h6>
              <span>$ 499</span>
            </div>

          </div>

          <a class="checkout_btn btn_blue global_btn">Checkout</a>
        </div>

      </div>
    </section>

  </main>