<section class="homepage_section_2">
    <div class="container Homepage_container_2 flex_column">
      <div class="inner_col_top flex_row">

        <div class="inner_container flex_column">
          <img class="w_auto" src="/assets/images/setting_icon.svg" alt="">
          <h3>WordPress Maintenance</h3>
          <p>
            Sign up online for the
            maintenance plan that is right for
            your website.
          </p>
        </div>
        <div class="inner_container flex_column">
          <img class="w_auto" src="/assets/images/headphones.svg" alt="">
          <h3>Dedicated Support</h3>
          <p>
            Sign up online for the
            maintenance plan that is right for
            your website.
          </p>
        </div>
        <div class="inner_container flex_column">
          <img class="w_auto" src="/assets/images/shield-alt-1.svg" alt="">
          <h3>Unbreakable Security</h3>
          <p>
            Sign up online for the
            maintenance plan that is right for
            your website.
          </p>
        </div>
        <div class="inner_container flex_column">
          <img class="w_auto" src="/assets/images/rocket.svg" alt="">
          <h3>Website Optimization</h3>
          <p>
            Sign up online for the
            maintenance plan that is right for
            your website.
          </p>
        </div>
      </div>
      <div class="inner_col_bottom flex_column">
        <h2>
          Must have <span class="bg_text_color">WordPress services</span><br>
          for your website
        </h2>
        <div class="inner_bottom_content_container flex_row">

          <!-- Arrow-slider-svg -->
          <img class="w_auto" src="assets/images/leftArrow.svg" alt="">

          <div class="card inner_service_col flex_column">
            <div class="inner_service_icon_container">
              <img class="w_auto" src="assets/images/Vector.svg" alt="">
            </div>
            <div class="inner_text_container flex_column">
              <h3>WordPress Maintenance</h3>
              <p>
                Outdated WordPress installations and plugins leave many
                sites vulnerable. We’ll make sure you’re up-to-date.
              </p>
            </div>
            <div class="inner_maintenance_price_nxt_btn flex_row">
              <div class="inner_price_container">
                <span class="price_starting_range">FROM:</span><br>
                <span class="maintenance_price_text">$99</span>
              </div>
              <div class="inner_maintenance_next_btn">
                <a href="/wp_service_pages/wp_maint_service.html"><button class="inner_maintenance_next_btn_arrow_icon">
                    <img src="assets/images/nxtbtn_arrow.svg" alt="">
                  </button></a>
              </div>
            </div>
          </div>
          <div class="card inner_service_col flex_column">
            <div class="inner_service_icon_container">
              <img class="w_auto" src="assets/images/ic_baseline-support.svg" alt="">
            </div>
            <div class="inner_text_container flex_column">
              <h3>WooCommerce Maintenance</h3>
              <p>
                Outdated WordPress installations and plugins leave many
                sites vulnerable. We’ll make sure you’re up-to-date.
              </p>
            </div>
            <div class="inner_maintenance_price_nxt_btn flex_row">
              <div class="inner_price_container">
                <span class="price_starting_range">FROM:</span><br>
                <span class="maintenance_price_text">$99</span>
              </div>
              <div class="inner_maintenance_next_btn">
                <a href="/wp_service_pages/wc_maint_servi.html"> <button class="inner_maintenance_next_btn_arrow_icon">
                    <img src="assets/images/nxtbtn_arrow.svg" alt="">
                  </button></a>
              </div>
            </div>
          </div>
          <div class="card inner_service_col flex_column">
            <div class="inner_service_icon_container">
              <img class="w_auto" src="assets/images/carbon_development.svg" alt="">
            </div>
            <div class="inner_text_container flex_column">
              <h3>WordPress
                Development</h3>
              <p>
                Outdated WordPress installations and plugins leave many
                sites vulnerable. We’ll make sure you’re up-to-date.
              </p>
            </div>
            <div class="inner_maintenance_price_nxt_btn flex_row">
              <div class="inner_price_container">
                <span class="price_starting_range">FROM:</span><br>
                <span class="maintenance_price_text">$99</span>
              </div>
              <div class="inner_maintenance_next_btn">
                <a href="/wp_service_pages/custom_wp_devlop.html"><button class="inner_maintenance_next_btn_arrow_icon">
                    <img src="assets/images/nxtbtn_arrow.svg" alt="">
                  </button></a>
              </div>
            </div>
          </div>
          <div class="card inner_service_col flex_column">
            <div class="inner_service_icon_container">
              <img class="w_auto" src="assets/images/flat-color-icons_support.svg" alt="">
            </div>
            <div class="inner_text_container flex_column">
              <h3>WordPress On
                Demand Support</h3>
              <p>
                Outdated WordPress installations and plugins leave many
                sites vulnerable. We’ll make sure you’re up-to-date.
              </p>
            </div>
            <div class="inner_maintenance_price_nxt_btn flex_row">
              <div class="inner_price_container">
                <span class="price_starting_range">FROM:</span><br>
                <span class="maintenance_price_text">$99</span>
              </div>
              <div class="inner_maintenance_next_btn">
                <a href="/wp_service_pages/wp_on_demand_support.html"><button class="inner_maintenance_next_btn_arrow_icon">
                    <img src="assets/images/nxtbtn_arrow.svg" alt="">
                  </button></a>
              </div>
            </div>
          </div>

          <!-- Arrow-slider-svg -->
          <img class="w_auto" src="assets/images/rightArrow.svg" alt="">

        </div>

      </div>

    </div>
  </section>
