<main>
    <!-------------------- Faq page section start -------------------->
    <section class="faq_page price_pag_sec_7">
        <div class="stars_container  container">

            <!-- main_faq_container -->
            <div class="faq_page_container faq_container wrapper flex_column">
                <div class="faq_col_1 flex_column">
                    <h1>Welcome to our WordPress Services <span>FAQ!</span> Here's a question to start off:</h1>
                    <p>"Welcome to our WordPress service FAQ! Here, we've gathered commonly asked questions to
                        assist you in<br> navigating our range of services, optimizing your WordPress experience,
                        and
                        addressing any inquiries you<br> may have. Explore below for quick answers and insights into
                        our
                        offerings."</p>
                    <!-- svg line -->
                  <img class="w_auto" src="assets/images/blue-arrow.svg" alt="">
                </div>

                <div class="inner_col_2 flex_column">
                    <!-- Accordion-1 -->
                    <div class="faq_accordions card flex_row">
                        <h4>Do you maintain and support WooCommerce website?</h4>
                        <!-- plus svg -->
                        <img class="w_auto" src="assets/images/pricing/plus-large.svg" alt="">
                    </div>
                    <!-- Accordion-2 -->
                    <div class="faq_accordions card flex_row">
                        <h4>How does on-boarding process works for new plans?</h4>
                        <!-- plus svg -->
                        <img class="w_auto" src="assets/images/pricing/plus-large.svg" alt="">
                    </div>
                    <!-- Accordion-3 -->
                    <div class="faq_accordions card flex_row">
                        <h4>What are your hours of operation and response time?</h4>
                        <!-- plus svg -->
                        <img class="w_auto" src="assets/images/pricing/plus-large.svg" alt="">
                    </div>
                    <!-- Accordion-4 -->
                    <div class="faq_accordions card flex_row">
                        <h4>Can multiple website receive Help Desk Support under one plan?</h4>
                        <!-- plus svg -->
                        <img class="w_auto" src="assets/images/pricing/plus-large.svg" alt="">
                    </div>
                    <!-- Accordion-5 -->
                    <div class="faq_accordions card flex_row">
                        <h4>Do you offer Page Speed Optimization?</h4>
                        <!-- plus svg -->
                        <img class="w_auto" src="assets/images/pricing/plus-large.svg" alt="">
                    </div>
                    <!-- Accordion-6 -->
                    <div class="faq_accordions card flex_row">
                        <h4> Do you provide WordPress hosting?</h4>
                        <!-- plus svg -->
                        <img class="w_auto" src="assets/images/pricing/plus-large.svg" alt="">
                    </div>
                    <!-- Accordion-7 -->
                    <div class="faq_accordions card flex_row">
                        <h4>What level of ongoing support do you offer after the website is launched?</h4>
                        <!-- plus svg -->
                        <img class="w_auto" src="assets/images/pricing/plus-large.svg" alt="">
                    </div>
                    <!-- Accordion-8 -->
                    <div class="faq_accordions card flex_row">
                        <h4>Can you help migrate my website to WordPress?</h4>
                        <!-- plus svg -->
                        <img class="w_auto" src="assets/images/pricing/plus-large.svg" alt="">
                    </div>
                    <!-- Accordion-9 -->
                    <div class="faq_accordions card flex_row">
                        <h4> What services do you offer for WordPress?</h4>
                        <!-- plus svg -->
                        <img class="w_auto" src="assets/images/pricing/plus-large.svg" alt="">
                    </div>
                    <!-- Accordion-10 -->
                    <div class="faq_accordions card flex_row">
                        <h4>How does on-boarding process works for new plans?</h4>
                        <!-- plus svg -->
                        <img class="w_auto" src="assets/images/pricing/plus-large.svg" alt="">
                    </div>

                </div>
            </div>
        </div>

    </section>
    <!-------------------- Faq page section End -------------------->
</main>