<main>
    <!-- ------------------------------section1 starts------------------ -->
    <section class="howit_works_section01">
        <div class="section_1_container container flex_row positon_relative">
            <div class="container_left flex_column">
                <h1 class="flex_column">Website maintenance : <span>Step by Step</span></h1>
                <p>You might be wondering – how exactly does the WPServices work? To find out, either contact us or
                    take
                    a
                    look
                    below at a quick synopsis of our services.</p>
                <div class="flex_row lower_container">
                    <a class="global_btn btn_blue" href="./contact.html">Contact Us</a>
                   <img class="w_auto" src="assets/images/blue-arrow.svg" alt="">
                </div>
                <div class="flex_row company_container">
                    <div class="services_logos_container flex_row">
                        <img src="/assets/images/pricing/top domain 1.svg" alt="">
                        <img src="/assets/images/pricing/marketwatch.svg" alt="">
                        <img src="/assets/images/pricing/Product Hunt 1.svg" alt="">
                        <img src="/assets/images/pricing/marketwatch.svg" alt="">
                    </div>
                    <h5>As Low as <span> <span class="numeric">$99</span>/month</span></h5>
                </div>
            </div>
            <div class="container_right">
                <div class="leftImage_container">
                    <img src="assets/images/works.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-------------------------------section1 ends-------------------->

    <!-- ------------------------------section2 starts------------------ -->
    <section class="howit_works_section02">
        <div class="section_2_container container flex_column ">
            <div class="flex_row worksList">
                <div class="left_container">
                    <div class="flex_column">
                        <img src="assets/images/how_it_work/Group 397.svg" alt="">
                        <h3>Select one of WordPress Services</h3>
                    </div>
                </div>
                <div class="right_container flex_column">
                    <p>We are well aware that time is of the essence. No business can stand still and without a
                        clear
                        direction, your virtual store cannot prosper. WPServices premium support ensures that with
                        every
                        service we offer, a dedicated project manager will be at your disposal to ensure smooth
                        communication. In just 3 steps you will have to provide basic information about your website
                        and
                        the
                        type of service you want to employ. We will contact you immediately and explain how to
                        safely
                        send
                        us the login credentials.</p>
                    <a class="global_btn btn_blue">View Pricing</a>
                </div>
            </div>
            <div class="flex_row worksList">
                <div class="left_container">
                    <div class="flex_column">
                        <img src="assets/images/how_it_work/material-symbols_package-2.svg" alt="">
                        <h3>Choose a service package</h3>
                    </div>
                </div>
                <div class="right_container flex_column">
                    <p>We are well aware that time is of the essence. No business can stand still and without a
                        clear
                        direction, your virtual store cannot prosper. WPServices premium support ensures that with
                        every
                        service we offer, a dedicated project manager will be at your disposal to ensure smooth
                        communication. In just 3 steps you will have to provide basic information about your website
                        and
                        the
                        type of service you want to employ. We will contact you immediately and explain how to
                        safely
                        send
                        us the login credentials.</p>
                    <a class="global_btn btn_blue">View Pricing</a>
                </div>
            </div>
            <div class="flex_row worksList">
                <div class="left_container">
                    <div class="flex_column">
                        <img src="assets/images/how_it_work/iconoir_tv-issue.svg" alt="">
                        <h3>We address the issue</h3>
                    </div>
                </div>
                <div class="right_container flex_column">
                    <p>We are well aware that time is of the essence. No business can stand still and without a
                        clear
                        direction, your virtual store cannot prosper. WPServices premium support ensures that with
                        every
                        service we offer, a dedicated project manager will be at your disposal to ensure smooth
                        communication. In just 3 steps you will have to provide basic information about your website
                        and
                        the
                        type of service you want to employ. We will contact you immediately and explain how to
                        safely
                        send
                        us the login credentials.</p>
                    <a class="global_btn btn_blue">View Pricing</a>
                </div>
            </div>
            <div class="flex_row worksList">
                <div class="left_container">
                    <div class="flex_column">
                        <img src="assets/images/how_it_work/iconoir_reports-solid.svg" alt="">
                        <h3>Continuous Maintenance</h3>
                    </div>
                </div>
                <div class="right_container flex_column">
                    <p>We are well aware that time is of the essence. No business can stand still and without a
                        clear
                        direction, your virtual store cannot prosper. WPServices premium support ensures that with
                        every
                        service we offer, a dedicated project manager will be at your disposal to ensure smooth
                        communication. In just 3 steps you will have to provide basic information about your website
                        and
                        the
                        type of service you want to employ. We will contact you immediately and explain how to
                        safely
                        send
                        us the login credentials.</p>
                    <a class="global_btn btn_blue">View Pricing</a>
                </div>
            </div>
            <div class="flex_row worksList">
                <div class="left_container">
                    <div class="flex_column">
                        <svg xmlns="http://www.w3.org/2000/svg" width="118" height="118" viewBox="0 0 118 118"
                            fill="none">
                            <path
                                d="M93.4165 14.75H88.4998C83.069 14.75 78.6665 19.1525 78.6665 24.5833V93.4167C78.6665 98.8475 83.069 103.25 88.4998 103.25H93.4165C98.8473 103.25 103.25 98.8475 103.25 93.4167V24.5833C103.25 19.1525 98.8473 14.75 93.4165 14.75Z"
                                fill="#1D5AFF" />
                            <path
                                d="M61.4585 44.25H56.5418C51.111 44.25 46.7085 48.6525 46.7085 54.0833V93.4167C46.7085 98.8475 51.111 103.25 56.5418 103.25H61.4585C66.8893 103.25 71.2918 98.8475 71.2918 93.4167V54.0833C71.2918 48.6525 66.8893 44.25 61.4585 44.25Z"
                                fill="#1D5AFF" />
                            <path
                                d="M29.5 78.6666H24.5833C19.1525 78.6666 14.75 83.0692 14.75 88.5V93.4166C14.75 98.8474 19.1525 103.25 24.5833 103.25H29.5C34.9308 103.25 39.3333 98.8474 39.3333 93.4166V88.5C39.3333 83.0692 34.9308 78.6666 29.5 78.6666Z"
                                fill="#1D5AFF" />
                        </svg>
                        <h3>Detailed weekly reports</h3>
                    </div>
                </div>
                <div class="right_container flex_column">
                    <p>We are well aware that time is of the essence. No business can stand still and without a
                        clear
                        direction, your virtual store cannot prosper. WPServices premium support ensures that with
                        every
                        service we offer, a dedicated project manager will be at your disposal to ensure smooth
                        communication. In just 3 steps you will have to provide basic information about your website
                        and
                        the
                        type of service you want to employ. We will contact you immediately and explain how to
                        safely
                        send
                        us the login credentials.</p>
                    <a class="global_btn btn_blue">View Pricing</a>
                </div>
            </div>
            
        </div>
    </section>
    <!--------------------------------section2 ends-------------------->

    <!--------------------------------section starts-------------------->

    <section class="price_pag_sec_7">
        <!-- start container -->
        <div class="faq_container container flex_row">
            <div class="inner_col_1 flex_column">
                <h2>FAQ’s</h2>
                <p>"Welcome to our WordPress service FAQ! Here, we've gathered commonly asked questions to assist
                    you in
                    navigating our range of services, optimizing your WordPress experience, and addressing any
                    inquiries you may
                    have. Explore below for quick answers and insights into our offerings."</p>
            </div>
            <div class="inner_col_2 flex_column">
                <!-- Accordion-1 -->
                <div class="faq_accordions card flex_row">
                    <h4>Do you maintain and support WooCommerce website?</h4>
                    <!-- plus svg -->
                    <img class="w_auto" src="assets/images/pricing/plus-large.svg" alt="">

                </div>
                <!-- Accordion-2 -->
                <div class="faq_accordions card flex_row">
                    <h4>How does on-boarding process works for new plans?</h4>
                    <!-- plus svg -->
                    <img class="w_auto" src="assets/images/pricing/plus-large.svg" alt="">

                </div>
                <!-- Accordion-3 -->
                <div class="faq_accordions card flex_row">
                    <h4>What are your hours of operation and response time?</h4>
                    <!-- plus svg -->
                    <img class="w_auto" src="assets/images/pricing/plus-large.svg" alt="">

                </div>
                <!-- Accordion-4 -->
                <div class="faq_accordions card flex_row">
                    <h4>Can multiple website receive Help Desk Support under one plan?</h4>
                    <!-- plus svg -->
                    <img class="w_auto" src="assets/images/pricing/plus-large.svg" alt="">

                </div>
                <!-- Accordion-5 -->
                <div class="faq_accordions card flex_row">
                    <h4>Do you offer Page Speed Optimization?</h4>
                    <!-- plus svg -->
                    <img class="w_auto" src="assets/images/pricing/plus-large.svg" alt="">

                </div>
                <a href="faqPage.html"> <button class="global_btn btn_yellow">Read More</button></a>
            </div>

        </div>

    </section>
    <!--------------------------------section3 ends-------------------->

</main>